In [17]:
import pandas as pd

pd.options.display.max_columns = None

In [18]:
nombre = pd.read_csv('../../data/precio/nombres_equipos.csv', index_col = 0)
nombre.head(2)

          Nombre jugador Equipo actual
0         gaston-alvarez     getafe-cf
1  abdessamad-ezzalzouli  fc-barcelona

In [19]:
paisedad = pd.read_csv('../../data/precio/paisedad_jugadores.csv', index_col = 0)
paisedad.head(2)

   edad     pais
0    21  Uruguay
1    19  Morocco

In [20]:
futuro = pd.read_csv('../../data/precio/progresion_jugadores.csv', index_col = 0)
futuro.head(2)

   Valoración actual  Progresión
0                 70          80
1                 70          83

In [21]:
precio = pd.read_csv('../../data/precio/precios_jugadores.csv', index_col = 0)
precio.head(2)

    precio
0  3300000
1  3800000

In [22]:
valorac = pd.read_csv('../../data/precio/valoraciones_jugadores.csv', index_col = 0)
valorac

,Valoración equipo actual,Mejor valoración,Ataque,Regate,Aceleración,Potencia tiro,Agresividad,Defensa,Portería
0,76,72,54,47,62,35,65,67,10
1,83,70,59,80,84,65,34,25,7
2,70,72,59,72,79,70,60,40,6
3,74,72,46,67,71,75,64,30,12
4,74,72,58,71,73,73,74,19,5
...,...,...,...,...,...,...,...,...,...
413,68,59,53,62,70,54,35,23,6
414,64,60,48,62,81,55,42,55,8
415,77,59,41,59,64,61,34,14,12
416,67,56,14,13,40,47,23,13,61
417,78,57,37,32,55,47,51,50,11

In [23]:
jovenes = pd.concat([nombre, paisedad, futuro, precio, valorac], axis=1)
jovenes.head()

,Nombre jugador,Equipo actual,edad,pais,Valoración actual,Progresión,precio,Valoración equipo actual,Mejor valoración,Ataque,Regate,Aceleración,Potencia tiro,Agresividad,Defensa,Portería
0,gaston-alvarez,getafe-cf,21,Uruguay,70,80,3300000,76,72,54,47,62,35,65,67,10
1,abdessamad-ezzalzouli,fc-barcelona,19,Morocco,70,83,3800000,83,70,59,80,84,65,34,25,7
2,alberto-moleiro-gonzalez,union-deportiva-las-palmas,17,Spain,70,82,3600000,70,72,59,72,79,70,60,40,6
3,rodrigo-muniz-carvalho,fulham,20,Brazil,70,81,3500000,74,72,46,67,71,75,64,30,12
4,vitor-manuel-carvalho-oliveira,sc-braga,21,Portugal,70,81,3600000,74,72,58,71,73,73,74,19,5

In [24]:
jovenes.to_csv('../../data/precio/jovenes.csv')